build/**
CMakeFiles/**
deps/**
release/**
build2/.kateproject
build2/cmake_install.cmake
build2/CMakeCache.txt
build2/compile_commands.json
build2/CPackConfig.cmake
build2/CPackSourceConfig.cmake
build2/CTestTestfile.cmake
build2/DartConfiguration.tcl
build2/Makefile
build2/traktor
build2/traktor-MinSizeRel@build2.kateproject
build2/CMakeFiles/cmake.check_cache
build2/CMakeFiles/CMakeDirectoryInformation.cmake
build2/CMakeFiles/CMakeError.log
build2/CMakeFiles/CMakeOutput.log
build2/CMakeFiles/CMakeRuleHashes.txt
build2/CMakeFiles/Makefile.cmake
build2/CMakeFiles/Makefile2
build2/CMakeFiles/progress.marks
build2/CMakeFiles/TargetDirectories.txt
build2/CMakeFiles/3.18.4/CMakeCCompiler.cmake
build2/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
build2/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
build2/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
build2/CMakeFiles/3.18.4/CMakeSystem.cmake
build2/CMakeFiles/3.18.4/CompilerIdC/a.out
build2/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
build2/CMakeFiles/3.18.4/CompilerIdCXX/a.out
build2/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build2/CMakeFiles/Continuous.dir/build.make
build2/CMakeFiles/Continuous.dir/cmake_clean.cmake
build2/CMakeFiles/Continuous.dir/DependInfo.cmake
build2/CMakeFiles/Continuous.dir/progress.make
build2/CMakeFiles/ContinuousBuild.dir/build.make
build2/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousBuild.dir/progress.make
build2/CMakeFiles/ContinuousConfigure.dir/build.make
build2/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousConfigure.dir/progress.make
build2/CMakeFiles/ContinuousCoverage.dir/build.make
build2/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousCoverage.dir/progress.make
build2/CMakeFiles/ContinuousMemCheck.dir/build.make
build2/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousMemCheck.dir/progress.make
build2/CMakeFiles/ContinuousStart.dir/build.make
build2/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousStart.dir/progress.make
build2/CMakeFiles/ContinuousSubmit.dir/build.make
build2/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousSubmit.dir/progress.make
build2/CMakeFiles/ContinuousTest.dir/build.make
build2/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousTest.dir/progress.make
build2/CMakeFiles/ContinuousUpdate.dir/build.make
build2/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
build2/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
build2/CMakeFiles/ContinuousUpdate.dir/progress.make
build2/CMakeFiles/Experimental.dir/build.make
build2/CMakeFiles/Experimental.dir/cmake_clean.cmake
build2/CMakeFiles/Experimental.dir/DependInfo.cmake
build2/CMakeFiles/Experimental.dir/progress.make
build2/CMakeFiles/ExperimentalBuild.dir/build.make
build2/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalBuild.dir/progress.make
build2/CMakeFiles/ExperimentalConfigure.dir/build.make
build2/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalConfigure.dir/progress.make
build2/CMakeFiles/ExperimentalCoverage.dir/build.make
build2/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalCoverage.dir/progress.make
build2/CMakeFiles/ExperimentalMemCheck.dir/build.make
build2/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalMemCheck.dir/progress.make
build2/CMakeFiles/ExperimentalStart.dir/build.make
build2/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalStart.dir/progress.make
build2/CMakeFiles/ExperimentalSubmit.dir/build.make
build2/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalSubmit.dir/progress.make
build2/CMakeFiles/ExperimentalTest.dir/build.make
build2/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalTest.dir/progress.make
build2/CMakeFiles/ExperimentalUpdate.dir/build.make
build2/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
build2/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
build2/CMakeFiles/ExperimentalUpdate.dir/progress.make
build2/CMakeFiles/Nightly.dir/build.make
build2/CMakeFiles/Nightly.dir/cmake_clean.cmake
build2/CMakeFiles/Nightly.dir/DependInfo.cmake
build2/CMakeFiles/Nightly.dir/progress.make
build2/CMakeFiles/NightlyBuild.dir/build.make
build2/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
build2/CMakeFiles/NightlyBuild.dir/progress.make
build2/CMakeFiles/NightlyConfigure.dir/build.make
build2/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
build2/CMakeFiles/NightlyConfigure.dir/progress.make
build2/CMakeFiles/NightlyCoverage.dir/build.make
build2/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
build2/CMakeFiles/NightlyCoverage.dir/progress.make
build2/CMakeFiles/NightlyMemCheck.dir/build.make
build2/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
build2/CMakeFiles/NightlyMemCheck.dir/progress.make
build2/CMakeFiles/NightlyMemoryCheck.dir/build.make
build2/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
build2/CMakeFiles/NightlyMemoryCheck.dir/progress.make
build2/CMakeFiles/NightlyStart.dir/build.make
build2/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyStart.dir/DependInfo.cmake
build2/CMakeFiles/NightlyStart.dir/progress.make
build2/CMakeFiles/NightlySubmit.dir/build.make
build2/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
build2/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
build2/CMakeFiles/NightlySubmit.dir/progress.make
build2/CMakeFiles/NightlyTest.dir/build.make
build2/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyTest.dir/DependInfo.cmake
build2/CMakeFiles/NightlyTest.dir/progress.make
build2/CMakeFiles/NightlyUpdate.dir/build.make
build2/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
build2/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
build2/CMakeFiles/NightlyUpdate.dir/progress.make
build2/CMakeFiles/traktor.dir/build.make
build2/CMakeFiles/traktor.dir/cmake_clean.cmake
build2/CMakeFiles/traktor.dir/CXX.includecache
build2/CMakeFiles/traktor.dir/depend.internal
build2/CMakeFiles/traktor.dir/depend.make
build2/CMakeFiles/traktor.dir/DependInfo.cmake
build2/CMakeFiles/traktor.dir/flags.make
build2/CMakeFiles/traktor.dir/link.txt
build2/CMakeFiles/traktor.dir/progress.make
build2/CMakeFiles/traktor.dir/src/detect.cpp.o
build2/CMakeFiles/traktor.dir/src/main.cpp.o
build2/CMakeFiles/traktor.dir/src/thread_camera.cpp.o
build2/CMakeFiles/traktor.dir/src/thread_send_jpeg.cpp.o
build2/CMakeFiles/traktor.dir/src/thread_stats.cpp.o
build2/CMakeFiles/traktor.dir/src/webserver.cpp.o
