<!doctype html>
<html data-ng-app="tractor">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/rzslider.min.css">
  <style>
    .traktor-container {
      position: relative;
    }

    .traktor-image {
      width: 100%;
      display: block;
    }

    .custom-slider.rzslider .rz-selection {
      background: #337ab7;
    }

    .custom-slider.rzslider .rz-pointer {
      background-color: #337ab7;
    }

    fieldset {
      margin: 5px;
      padding: 5px;
      border: solid;
      width: auto;
    }

    legend {
      margin: 3px;
      padding: 3px;
      width: fit-content;
    }

    th,
    td {
      padding: 3px;
    }
  </style>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/rzslider.min.js"></script>
  <script src="scripts/ui-bootstrap-tpls-1.0.3.min.js"></script>
  <script src="scripts/tractor.js"></script>
  <title>Traktor</title>
</head>

<body data-ng-controller="TractorController as ctrl">
  <div class="container-fluid">
    <div class="row">
      <div data-ng-class="{'col-sm-7': showMenu, 'col-sm-12': !showMenu}">
        <div data-ng-show="!showMenu">
          <button name="showMenuButton" data-ng-click="ctrl.displayMenu()" class="btn btn-block btn-sm">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
        </div>
        <div class="traktor-container"><img class="traktor-image" src="{{videoUrl}}"></div>
      </div>
      <div class="col-sm-5" data-ng-show="showMenu">
        <form name="tractorForm" method="post">
          <div class="row">
            <div class="col-sm-12">
              <button name="hideMenuButton" data-ng-click="ctrl.displayMenu()" class="btn btn-block btn-sm">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" data-ng-model="settingsName" uib-typeahead="s for s in settings | filter:$viewValue" placeholder="Name" class="form-control" />
                <div class="input-group-btn" data-uib-dropdown>
                  <button type="button" class="btn btn-default" data-ng-click="ctrl.save()" data-ng-disabled="settingsName === '' || settingsName === undefined">Save</button>
                  <button type="button" class="btn btn-default" data-uib-dropdown-toggle>Load <span class="caret"></span></button>
                  <ul data-uib-dropdown-menu role="menu">
                    <li role="menuitem" data-ng-click="ctrl.load(setting)" data-ng-repeat="setting in settings"><a href="#">{{setting}}</a></li>
                  </ul>                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <fieldset>
              <legend>Reference lines</legend>
              <table border="1" width="100%">
                <tr>
                  <td width="20%"><label>Max Reihen</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="maxRowSlider.value"
                      rz-slider-options="maxRowSlider.options"></rzslider>
                  </td>
                </tr>
                <tr>
                  <td><label>Reihen Abstand</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="rowSpacingPxSlider.value"
                      rz-slider-options="rowSpacingPxSlider.options"></rzslider>
                  </td>
                </tr>
                <tr>
                  <td><label>Reihen Perspektive</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="rowPerspectiveSlider.value"
                      rz-slider-options="rowPerspectiveSlider.options"></rzslider>
                  </td>
                </tr>
                <tr>
                  <td><label>Reihen Toleranz</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="rowThresholdPxSlider.value"
                      rz-slider-options="rowThresholdPxSlider.options"></rzslider>
                  </td>
                </tr>
              </table>
            </fieldset>
            <fieldset>
              <legend>Image processing</legend>
              <table border="1" width="100%">
                <tr><td width="20%"><label>Hue (Farbe)</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="hueSlider.minValue"
                      rz-slider-high="hueSlider.maxValue" rz-slider-options="hueSlider.options"></rzslider>
                  </td>
                </tr>
                <tr><td><label>Saturation (Sättigung)</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="saturationSlider.minValue"
                      rz-slider-high="saturationSlider.maxValue" rz-slider-options="saturationSlider.options">
                    </rzslider>
                  </td>
                </tr>
                <tr><td><label>Value (Helligkeit)</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="valueSlider.minValue"
                      rz-slider-high="valueSlider.maxValue" rz-slider-options="valueSlider.options">
                    </rzslider>
                  </td>
                </tr>
                <tr>
                  <td><label>Erode</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="erodeSlider.value"
                      rz-slider-options="erodeSlider.options"></rzslider>
                  </td>
                </tr>
                <tr>
                  <td><label>Dilate</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="dilateSlider.value"
                      rz-slider-options="dilateSlider.options"></rzslider>
                  </td>
                </tr>
                <tr>
                  <td><label>minimal contour area</label></td>
                  <td>
                    <rzslider class="custom-slider" rz-slider-model="minimalContourAreaSlider.value"
                      rz-slider-options="minimalContourAreaSlider.options"></rzslider>
                  </td>
                </tr>
              </table>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">&nbsp;</div>
    </div>
    <div class="row" data-ng-show="showMenu">
      <div class="col-sm-12">
        <pre>{{response}}</pre>
      </div>
    </div>
  </div>
</body>

</html>