<!doctype html>
<html data-ng-app="tractor">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<script src="scripts/angular.min.js"></script>
<script src="scripts/tractor.js"></script>
<title>Traktor</title>
</head>
<body data-ng-controller="TractorController as ctrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<!-- 16:9 aspect ratio -->
				<div class="thumbnail">
					<!-- <video id="videoPlayer" controls muted autoplay></video> -->
					<!-- <video src="soja.mp4" type="video/mp4" autobuffer autoplay controls /> -->
					<img src="{{showSnapShot ? showSnapShotImage : data.url + 'video'}}">
					
				</div>
			</div>
		
			<div class="col-sm-6">
				<form name="tractorForm" method="post">
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-4">
							<button name="direction" data-ng-click="ctrl.perform('left')" class="btn btn-primary btn-block btn-lg">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</button>
						</div>
						<div class="col-sm-4">
							<button name="direction" data-ng-click="ctrl.perform('center')" class="btn btn-primary btn-block btn-lg">
								<span class="glyphicon glyphicon-align-justify"></span>
							</button>
						</div>
						<div class="col-sm-4">
							<button name="direction" data-ng-click="ctrl.perform('right')" class="btn btn-primary btn-block btn-lg">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
					</div>
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-12">
							<button name="direction" data-ng-click="ctrl.perform('stop')" class="btn btn-block btn-lg btn-danger">
								<span class="glyphicon glyphicon-off"></span>
							</button>
						</div>
					</div>
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-6">
							<button name="shot" data-ng-click="ctrl.startVideo()" class="btn btn-block btn-lg btn-default">
								<span class="glyphicon glyphicon-facetime-video"></span>
							</button>
						</div>
						<div class="col-sm-6">
							<button name="shot" data-ng-click="ctrl.snapShot()" class="btn btn-block btn-lg btn-default">
								<span class="glyphicon glyphicon-camera"></span>
							</button>
						</div>
					</div>
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">D</span>
								<input name="duration" data-ng-model="data.duration" class="form-control" aria-describedby="basic-addon1"/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon2">L</span>
								<input name="left" data-ng-model="data.left" class="form-control" aria-describedby="basic-addon2"/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon3">Z</span>
								<input name="center" data-ng-model="data.center" class="form-control" aria-describedby="basic-addon3"/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon4">R</span>
								<input name="right" data-ng-model="data.right" class="form-control" aria-describedby="basic-addon4"/>
							</div>
						</div>
					</div>
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon5">Video</span>
								<input name="url" data-ng-model="data.url" class="form-control" aria-describedby="basic-addon5"/>
							</div>
						</div>
					</div>
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon6">CaLT</span>
								<input name="cannyLowThreshold" data-ng-model="data.cannyLowThreshold" class="form-control" aria-describedby="basic-addon6"/>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon7">CaLT</span>
								<input name="cannyHighThreshold" data-ng-model="data.cannyHighThreshold" class="form-control" aria-describedby="basic-addon7"/>
							</div>
						</div>
					</div>
					<div class="row"><div class="col-sm-12">&nbsp;</div></div>
					<div class="row">
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon8">HuT</span>
								<input name="houghThreshold" data-ng-model="data.houghThreshold" class="form-control" aria-describedby="basic-addon8"/>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon9">HuMLL</span>
								<input name="houghMinLineLength" data-ng-model="data.houghMinLineLength" class="form-control" aria-describedby="basic-addon9"/>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon10">HuMLG</span>
								<input name="houghMaxLineGap" data-ng-model="data.houghMaxLineGap" class="form-control" aria-describedby="basic-addon10"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<var>{{response}}</var>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>